/* encode-sans-300 - latin */
@font-face {
	font-family: 'Encode Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Encode Sans Light'), local('EncodeSans-Light'),
		 url('../fonts/encode-sans-v3-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/encode-sans-v3-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* encode-sans-500 - latin */
@font-face {
	font-family: 'Encode Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Encode Sans Medium'), local('EncodeSans-Medium'),
		url('../fonts/encode-sans-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/encode-sans-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin typeHead() {
	font-family: 'Encode Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	@include typeHead();
}

h1,h2 {
	font-weight: 300;
}
h3,h4,h5,h6 {
	font-weight: 400;
}

h4,
h5,
h6 {
	color: lighten($body-color, 6%);
}

h3 {
	color: lighten($body-color, 10%);
}

h2 {
	color: lighten($body-color, 12%);
}

h1 {
	color: lighten($body-color, 15%);
}

