@import "meta";
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "typography";
@import "utilities";

html {
	font-size: 18px;
}

.box-color {
	max-width: 400px;
}

.grid {
	display: grid;
	max-width: 768px;
	grid-template-columns: 1fr;
}

.max-in {
	max-width: 720px;
}
